In [1]:
from pycaret.regression import *
import pandas as pd

In [2]:
df = pd.read_csv('Steel_industry_data.csv')

df.columns = df.columns.str.replace(' ', '_').str.lower()

df['date'] = pd.to_datetime(df['date'], format='%d/%m/%Y %H:%M')
df.set_index('date', inplace=True)

df.head()

,usage_kwh,lagging_current_reactive.power_kvarh,leading_current_reactive_power_kvarh,co2(tco2),lagging_current_power_factor,leading_current_power_factor,nsm,weekstatus,day_of_week,load_type
date,,,,,,,,,,
2018-01-01 00:15:00,3.17,2.95,0.0,0.0,73.21,100.0,900,Weekday,Monday,Light_Load
2018-01-01 00:30:00,4.00,4.46,0.0,0.0,66.77,100.0,1800,Weekday,Monday,Light_Load
2018-01-01 00:45:00,3.24,3.28,0.0,0.0,70.28,100.0,2700,Weekday,Monday,Light_Load
2018-01-01 01:00:00,3.31,3.56,0.0,0.0,68.09,100.0,3600,Weekday,Monday,Light_Load
2018-01-01 01:15:00,3.82,4.50,0.0,0.0,64.72,100.0,4500,Weekday,Monday,Light_Load

In [3]:
s = setup(df, target='usage_kwh', session_id=42)

In [4]:
best_model = compare_models()

In [5]:
evaluate_model(best_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [6]:
tuned_model = tune_model(best_model)

Initiated  . . . . . . . . . . . . . . . . . .              21:39:13
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [7]:
predictions = predict_model(tuned_model, data=df)

In [8]:
save_model(tuned_model, 'extra_tree_regressor')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['lagging_current_reactive.power_kvarh',
                                              'leading_current_reactive_power_kvarh',
                                              'co2(tco2)',
                                              'lagging_current_power_factor',
                                              'leading_current_power_factor',
                                              'nsm'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['weekstatus', 'da...
 Weekend    1
 NaN       -1
 dtype: int64}]))),
                 ('onehot_encoding',
                  TransformerWrapper(include=['day_of_week', 'load_type'],
                                     transformer=OneHotEncoder(cols=['day_of_week',
                                                                     'load_type'],
                                                               handle_missing='return_nan',
                                                               use_cat_names=True))),
                 ('clean_column_names',
                  TransformerWrapper(transformer=CleanColumnNames())),
                 ('trained_model',
                  ExtraTreesRegressor(n_jobs=-1, random_state=42))]),
 'extra_tree_regressor.pkl')

In [1]:
import pandas as pd

df = pd.read_csv('model_metrics.csv')


df

,Unnamed: 0,mean_absolute_error,mean_squared_error,mean_absolute_percentage_error,r2_score
0,LinearRegression,2.466609,18.770420,0.159133,0.980201
1,Lasso,2.461997,18.759189,0.157619,0.980213
2,KNeighborsRegressor,2.174549,15.247844,0.142985,0.983916
3,DecisionTreeRegressor,1.942294,12.344406,0.120065,0.986979
4,RandomForestRegressor,2.119239,13.052926,0.132648,0.986232
5,GradientBoostingRegressor,2.007825,11.807350,0.146921,0.987546

Результаты работы алгоритма automl показывают более высокие метрики качества.