In [11]:
import psycopg2 as ps 
import sys

DB_HOST = 'localhost'
DB_PORT = 5433
DB_USER = 'postgres'
DB_PASSWORD = 'postgres' #bad practice, better using env variable instead 
DB_DATABASE = 'postgres'


try:
     connection = ps.connect(
          host = DB_HOST,
          port = DB_PORT,
          user = DB_USER,
          password = DB_PASSWORD,
          database = DB_DATABASE
     )
except Exception as e:
     print(f'Cannot open database exception: {e}')
     sys.exit(1)

def load_data(sql_query):
     cursor = connection.cursor()
     cursor.execute(sql_query)
     return cursor.fetchall()

def sql_query(query: str):
     data = load_data(query)
     for row in data:
          print(*row, sep = ' | ')

#во всех запросах установлено ограничение 10 для уменьшения количества выводимой информации

In [12]:
# все названия продуктов и соответствующиеим торговые марки(brand)
query_1 = '''SELECT products.product_name, brands.brand_name 
             FROM products 
             JOIN brands ON products.brand_id = brands.brand_id
             LIMIT 10'''

sql_query(query_1)

Trek 820 - 2016 | Trek
Ritchey Timberwolf Frameset - 2016 | Ritchey
Surly Wednesday Frameset - 2016 | Surly
Trek Fuel EX 8 29 - 2016 | Trek
Heller Shagamaw Frame - 2016 | Heller
Surly Ice Cream Truck Frameset - 2016 | Surly
Trek Slash 8 27.5 - 2016 | Trek
Trek Remedy 29 Carbon Frameset - 2016 | Trek
Trek Conduit+ - 2016 | Trek
Surly Straggler - 2016 | Surly

In [13]:
# найти всех активных сотрудников и наименования магазинов, в которых они работают
query_2 = '''SELECT staffs.first_name, staffs.last_name, stores.store_name 
             FROM staffs 
             JOIN stores ON staffs.store_id = stores.store_id
             WHERE staffs.active = 1 LIMIT 10'''
sql_query(query_2)

Fabiola | Jackson | Santa Cruz Bikes
Mireya | Copeland | Santa Cruz Bikes
Genna | Serrano | Santa Cruz Bikes
Virgie | Wiggins | Santa Cruz Bikes
Jannette | David | Baldwin Bikes
Marcelene | Boyer | Baldwin Bikes
Venita | Daniel | Baldwin Bikes
Kali | Vargas | Rowlett Bikes
Layla | Terrell | Rowlett Bikes
Bernardine | Houston | Rowlett Bikes

In [14]:
# всех покупателей выбранного магазина с указанием их полных имен, электронной почты и номера телефона (store_id = 2 в примере)
query_3 = '''
          SELECT customers.first_name, customers.last_name, customers.email, customers.phone
          FROM customers 
          RIGHT JOIN orders ON orders.customer_id = orders.customer_id AND orders.store_id = 2
          LIMIT 10'''
sql_query(query_3)

None | None | None | None
Debra | Burks | debra.burks@yahoo.com | NULL
Kasha | Todd | kasha.todd@yahoo.com | NULL
Tameka | Fisher | tameka.fisher@aol.com | NULL
Daryl | Spence | daryl.spence@aol.com | NULL
Charolette | Rice | charolette.rice@msn.com | (916) 381-6003
Lyndsey | Bean | lyndsey.bean@hotmail.com | NULL
Latasha | Hays | latasha.hays@hotmail.com | (716) 986-3359
Jacquline | Duncan | jacquline.duncan@yahoo.com | NULL
Genoveva | Baldwin | genoveva.baldwin@msn.com | NULL

In [15]:
# запрос для подсчета количества продуктов в каждой категории
query_4 = '''
          SELECT category_id, count(*)
          FROM products GROUP BY category_id
          LIMIT 10'''
sql_query(query_4)

7 | 60
1 | 59
5 | 24
2 | 30
4 | 10
6 | 60
3 | 78

In [16]:
#запрос,чтобы указать общее количество заказов для каждого клиента
query_5 = '''
          SELECT customer_id, COUNT(order_id) as count
          FROM orders 
          GROUP BY orders.customer_id
          ORDER BY count DESC
          LIMIT 10'''
sql_query(query_5)

30 | 3
12 | 3
13 | 3
18 | 3
3 | 3
19 | 3
10 | 3
50 | 3
2 | 3
116 | 3

In [18]:
#запрос, в котором будет указана информация о полном имени и общем количестве заказов клиентов, которые хотябы 1 раз сделали заказ. (4 - статус завершенного заказа)
query_6 = '''
          SELECT first_name, last_name, COUNT(orders.order_id) AS count
          FROM customers 
          JOIN orders ON orders.customer_id = customers.customer_id 
          GROUP BY customers.customer_id
          ORDER BY count DESC
          LIMIT 10'''
sql_query(query_6)

Jamaal | Albert | 3
Robby | Sykes | 3
Lashawn | Ortiz | 3
Georgetta | Hardin | 3
Tameka | Fisher | 3
Lizzette | Stein | 3
Pamelia | Newman | 3
Cleotilde | Booth | 3
Kasha | Todd | 3
Merlene | Vinson | 3